/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

#container{
    margin:5px;
    border:solid 3px pink;
    background-color:rgb(240, 236, 14);
    width:100%;
    height:80%;
}
#header{
    margin:5px;
    border:solid 3px pink;
    background-color:rgb(221, 202, 31);
    width:100%;
    height:150px;
}
#menu{
       width:25%;
    padding:5px;
    margin:5px;
    border:solid 3px pink;
    background-color:rgb(61, 153, 8);
    height:300px;
    float:left;
    
}
#content{
     width:50%;
    padding:5px;
    margin:5px;
    border:solid 3px pink;
    background-color:rgb(61, 153, 8);
    height:300px;
    float:right;
    float:left;
}
#footer{
    width:13%;
    padding:5px;
    margin:5px;
    border:solid 3px pink;
    background-color:rgb(61, 153, 8);
    height:300px;
    float:right;
    float:left;
  
}
#pp2 {font:underline
    10px/1em "Comic SansMS";
    text-align: center;
    }
#pp1 {font:oblique
    16px/2em "Verdana";
    text-align: justify;
    text-indent: 5,25px;
    }
    #pp3 {font-variant: unset
        16px/2em "Verdana";
        text-align: right;
        text-indent: 1,5px;
        font-weight: bold;
    }
.vidstup{
    margin-top:5px;
    margin-bottom:5px;}



